/* Login Page Styles */

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--alice-blue);
  }
  
  .login-form {
    background-color: var(--white);
    padding: 40px;
    box-shadow: var(--shadow-1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  .form-input {
    width: 100%;
    padding: 10px;
    font-size: var(--fs-4);
    border: 1px solid var(--cadet);
    border-radius: 5px;
  }
  
  .form-input:focus {
    outline: none;
    border-color: var(--orange-soda);
  }
  
  .btn {
    width: 100%;
    padding: 10px;
    background-color: var(--orange-soda);
    color: var(--white);
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: var(--black);
    color: var(--yellow-green);
  }
  