.testimonials {
    background-color: #f9f9f9;
    padding: 50px 20px;
    text-align: center;
    margin-bottom:20px;
}



.testimonial-list {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

blockquote {
    font-style: italic;
    padding: 20px;
    background: #fff;
    border-left: 5px solid hsl(9, 100%, 62%);
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

blockquote:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.call-to-action {
    background-color:hsl(9, 100%, 62%);
    color: white;
    padding: 50px 20px;
    text-align: center;
}

.call-to-action h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.call-to-action p {
    font-size: 1.2rem;
    margin-bottom: 30px;
}

