
.createproject .container {
    margin-block: 40px;
    margin-bottom: 100px;
}

.createproject .content {


    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.createproject .title {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
}

.createproject .content .top .image {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.createproject .content hr {
    margin-block: 20px;
}

.createproject .content .error {
    color: rgb(201, 22, 22);
}

.createproject .content .info {
    margin-block: 30px;
}

.createproject label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.createproject textarea,
.createproject input {
    width: 100%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 18px;
}

.createproject textarea:focus,
.createproject input:focus {
    border-color: #007bff;
    outline: none;
}

.createproject textarea {
    resize: none;
    min-height: 300px;
    width: 100%;
    resize: none;
}

.createproject form button {
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
}

.createproject .buttons {
    display: flex;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 20px;
}
