.createproject {
}

.createproject .container {
    margin-block: 40px;
    margin-bottom: 100px;
}

.createproject label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    text-transform: capitalize;
}

.createproject textarea,
.createproject input {
    width: 100%;
    padding: 16px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 18px;
}

.createproject textarea {
    min-height: 300px;
    resize: none;
}

.createproject textarea:focus,
.createproject input:focus {
    border-color: #007bff;
    outline: none;
}

.createproject form button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.createproject .other {
    margin-top: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.createproject .other div {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    gap: 20px;
    width: 100%;
}

.createproject .other div button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
    text-align: center;
}
