.detailsourwork {
    margin-bottom: 100px;
}

.detailsourwork .card-content .images {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 50px;
}

.detailsourwork .property-card:hover .card-banner img {
    transform: scale(1);
}

.detailsourwork .property-card figure:hover img {
    transform: scale(1.1) !important;
}

.detailsourwork .card-content .images > figure {
    flex-basis: 48%;
    width: 48%;
    border-radius: 10px;
}

@media (max-width: 992px) {
    .detailsourwork .card-content .images > figure {
        flex-basis: 45%;
        width: 45%;
    }
}

@media (max-width: 767px) {
    .detailsourwork .card-content .images {
        flex-direction: column;
        width: 100%;
    }
    .detailsourwork .card-content .images .card-banner {
        /* flex-basis: 100% !important; */
        width: 100%;
    }
}
.detailsourwork .back {
    margin-block: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
