.listcategory .container {
    margin-block: 40px;
    margin-bottom: 100px;
}

.listcategory .list {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.listcategory .item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 10px;
    border: 1px solid var(--raisin-black-1);
    border-radius: 8px;
    /* background-color: var(--alice-blue); */
    transition: var(--transition);
}

@media (max-width: 767px) {
    .listcategory .item {
        flex-direction: column;
    }
}

.listcategory .item:hover {
    background-color: var(--cultured-1);
}

.listcategory .info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    font-size: 25px;
}

.listcategory .info .id {
    font-weight: bold;
    color: var(--orange-soda);
}

.listcategory .buttons {
    display: flex;
    gap: 10px;
}

.listcategory .view-btn {
    background-color: var(--yellow-green);
}

.listcategory .update-btn {
    background-color: var(--orange-soda);
}

.listcategory .delete-btn {
    background-color: var(--prussian-blue);
}

.listcategory .back {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-block: 30px;
}