.userprofile {
}

.userprofile .container {
    margin-bottom: 100px;
}

.userprofile .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-block: 50px;

    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.userprofile .content .details {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userprofile .content .details span {
    font-weight: normal;
    display: inline;
    margin-left: 10px;
}

.userprofile .content .buttons {
    display: flex;
    justify-content: start;
    gap: 20px;
}

.userprofile .content .details .social {
    display: flex;
    align-items: center;
    gap: 15px;
}

.userprofile .content .details .social button {
    background: var(--white);
    width: 50px;
    height: 50px;
    box-shadow: var(--shadow-2);
    display: block !important;
}

.userprofile .content .details .social button ion-icon {
    color: hsl(0, 0%, 10%);
    font-size: 30px;
    margin-inline: auto;
    margin-bottom: 5px;
    --ionicon-stroke-width: 40px;
    transition: var(--transition);
}

.userprofile .content .image img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 767px) {
    .userprofile .content {
        flex-direction: column-reverse;
    }
}

/*  */

.userprofile .categories {
    width: 100%;
    margin-block: 50px;

    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.userprofile .categories .actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

@media (max-width: 767px) {
    .userprofile .categories .actions {
        flex-direction: column;
    }
}

.userprofile .categories .actions button {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.userprofile .categories .actions ion-icon {
    background: var(--cultured-2);
    color: var(--cadet);
    width: 30px;
    height: 30px;
    display: grid;
    place-items: center;
    font-size: 18px;
    border-radius: 50%;
}
