.userprofile {
}

.userprofile .container {
    margin-bottom: 100px;
}

.userprofile .content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    margin-block: 50px;

    background: white;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.userprofile .content .details {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userprofile .content .details span {
    font-weight: normal;
    display: inline;
    margin-left: 10px;
}

.userprofile .content .buttons {
    display: flex;
    justify-content: space-between;
}

.userprofile .content .image img {
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

@media (max-width: 767px) {
    .userprofile .content {
        flex-direction: column-reverse;
    }
}
